
<h1>{{singleProduct.title}}</h1>
<br>
<img src="{{imgsrc}}/{{singleProduct.image}}" alt="{{singleProduct.image}}">
<h3>Product Details :</h3>
<p>{{singleProduct.details}}</p>
<br>
<h3>Price :</h3>
<p>  {{singleProduct.price}}</p>
<div class="d-flex flex-row my-2">
    <div class="ml-auto">
        <!-- <button class="border rounded bg-white sign"><span class="fa fa-plus" id="orange"></span></button> -->
        <!-- <span class="px-sm-1">0</span> -->
        <button class="btn btn-warning w-25 rounded" (click)="minus()">-</button>

        <input type="number" class="w-25" [(ngModel)]="quantity" min="1">
        <button class="btn btn-warning w-25 rounded" (click)="plus()">+</button>

        <!-- <button class="border rounded bg-white sign"><span class="fa fa-minus" id="orange"></span></button> -->
    </div>
</div>
<button class="btn w-25 btn-warning rounded my-2" (click)="addtocart()">Add to cart</button>
