<app-header></app-header>

<table class="w-100 mt-5 table table-bordered table-hover text-center">
    <thead>
    <tr class="table-dark text-primary">
        <th>order_id</th>
        <th>username</th>
        <th>email</th>
        <th>status</th>
        <th>total price</th>
        <th>Action</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let o of orders">
        <td>{{o.id}}</td>
        <td>{{o.name}}</td>
        <td>{{o.email}}</td>
        <td>
            <form [formGroup]="form" (ngSubmit)="UpdateOrder()">
             <select formControlName="status" id="">
                <option value="pending">pending</option>
                <option value="Approved">Approved</option>
                <option value="Rejected">Rejected</option>
             </select>
            </form>
        </td>
        <td>{{o.total}}</td>
        <td><a class="btn btn-outline-primary" 
            routerLink="{{o.id}}">
            Order Details
        </a></td>
    </tr>
</tbody>
</table>