<app-header></app-header>
<div class="p-3 search container">
  <input type="search" name="search" (input)="search()" [(ngModel)]="title" id="" class="form-control">
</div>
<table class="w-100 mt-5 table table-bordered table-hover text-center">
<thead>
  <tr class="table-dark">
    <td>Title</td>
    <td>Image</td>
    <td>Price</td>
    <td>Detils</td>
    <td>Actions</td>
  </tr>
</thead>
<tbody>
  <tr class="table-light" *ngFor="let p of products | paginate: { itemsPerPage: 10, currentPage: page, totalItems: total }">
    <td>{{p.title}}</td>
    <td><img width="150" src="assets/images/{{p.image}}" alt=""></td>
    <td>{{p.price}} EGP</td>
    <td>{{p.details}}</td>
    <td><a routerLink="/products/edit/{{p.SKU}}" class="btn btn-info">Edit</a>
       <a (click)="DeleteProd(p.id)" class="mx-3 btn btn-danger">Delete</a></td>
  </tr>
</tbody>
</table>

<pagination-controls class="text-center" (pageChange)="pageChangeEvent($event)"></pagination-controls>
