
<header class="container-fluid bg-dark">
  <nav class="bg-dark p-3 container d-flex flex-row justify-content-around align-center">
      <li><a style="text-decoration:none;"  routerLinkActive="active" routerLink="/admin">Products</a></li>
      <li><a style="text-decoration:none;"  routerLinkActive="active" routerLink="/AddProducts">AddProducts</a></li>
      <li><a style="text-decoration:none;"  routerLinkActive="active" routerLink="/orders">Orders</a></li>
      
      <li class="dropdown">
        <a class=" dropdown-toggle text-primary" style="text-decoration: none;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          acc
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a href=""  class="dropdown-item" (click)="logout()" *ngIf="isLoggedIn"> logout</a></li>
        </ul>
      </li>



  </nav>

</header>
